* {
  margin: 0;
}

body {
  font-family: Urbanist, sans-serif;
  width: max-content;
  margin: 20px auto;
  text-align: center;
  font-size: xx-large;
  background-color: rgb(190, 91, 91);
}

main {
  padding: 20px 30px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}

#carta-texto {
  width: 500px;
  height: 20px;
  margin-bottom: 60px;
  text-align: center;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 8px;
}

#carta-texto:focus {
  border: 1px solid black;
  outline: none;
}

#criar-carta {
  padding: 5px 10px;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 8px;
  transition-duration: 0.4s;
}

#criar-carta:hover {
  background-color: rgb(53, 53, 53);
  color: rgb(235, 235, 235);
}

#criar-carta:active {
  background-color: rgb(22, 22, 22);
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
